@font-face {
	font-family: portfolioTitle;
	src: url(../../assets/PlayfairDisplay-VariableFont_wght.ttf);
}

.bg {
	position: relative;
	z-index: 1;
}

.meWithsum .topTxt h1 {
	font-family: portfolioTitle !important;
	color: white;
}

#product {
	margin-bottom: 6rem !important;
}

.skillsTxt,
.myProjects {
	text-align: center;
	font-family: portfolioTitle;
	margin-top: 3rem !important;
	color:white;
	font-size:50px !important;
}

.marginFoot {
	font-size: 20px;
	color:white !important;
}

.iconTxt,
.navWords {
	color: white !important;
}

.myNav {
	position: fixed;
	width: 100% !important;
	height: 60px !important;
	margin-left: -12px !important;
	z-index: 1000;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
}

.myIcons {
	width: 100%;
	height: 200px;
	overflow-y: hidden;
	overflow-x: scroll;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	scroll-behavior: smooth;
	color: white;
	background-color: rgba(0, 0, 0, 0.486);
	white-space: nowrap;
}

.aboveIcontxt {
	display: flex;
	justify-content: center;
	color: white;
	font-family: portfolioTitle;
	margin: 3rem 0;
	font-size:50px !important;
}

.aboutMeSection {
	background-color: #57577B;
	min-height: 600px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.meWithsum {
	margin-top: 6rem;
	margin-bottom: 8rem;
}

.iconSpacing {
	padding: 0 15rem;
}

.project {
	margin: 6rem 0;
	padding: 0 20rem;
	min-height: 500px;
	display: flex;
	justify-content: space-between;
}

.meImg {
	width: 300px;
	height: 300px;
	object-fit: cover;
	transform: scaleZ(2);
	margin-top: 3rem;
}

.about {
	margin-left: 5rem;
}

.resume {
	width: 700px;
	height: 800px;
	box-shadow: 10px 10px 8px 6px #000000c2;
}

.resumeBtn {
	color:white !important;
    border: 1px solid white;
    margin-bottom: 8rem;
    margin-top: 2rem;
    font-size:30px;
}

.topTxt {
	margin: 10rem 0;
	padding: 0 20rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}

.card {
	color: black;
}

.cards {
	margin: 4rem 0;
}

.cardImg {
	object-fit: cover;
}

@keyframes play-once {
	to {
		background-image: none;
	}
}

.button {
	background-color: #A663CC;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	border-radius: 10px;
	text-decoration: none;
	width: 50%;
	margin-left: 1.5rem;
}

.footer {
	background-color: #404064;
	min-height: 300px;
}

#slideshow {
	margin: 0 auto;
	height: 400px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 5rem;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 35s infinite linear;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 220px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px);
}

.shadow {
	object-fit: cover;
	position: absolute;
	box-shadow: 0px 0px 20px 0px #000;
	border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

.parallax-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../../assets/staicBG.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
}

.cSharp {
	border: 1px solid white;
	border-radius: 100%;
	background-color: white;
}

.SkillTxt {
	color:white;
	display: flex;
	justify-content: center;
	font-family: portfolioTitle;
}

.alignIcons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.iconNav {
	margin: 0 6px;
}

.fadeAnimation {
	animation: fadeAndRise 2.5s ease-in-out forwards;
}

.myProjects {
	margin-top: 4rem;
	margin-bottom: 8rem !important;
}

.pokeIcon {
	display: flex;
	justify-content: start;
	margin-left: 1.5rem;
	margin-bottom: 1rem;
}

@media screen and (max-width: 800px) and (min-width: 320px) {
	#slideshow {
		margin: 0 auto;
		height: 400px;
		width: 100%;
		box-sizing: border-box;
		margin: 0 !important;
	}

	.myProjects {
		margin-top: 0rem;
		margin-bottom: 0rem !important;
	}

	.topTxt {
		margin: 0 0;
		padding: 0 0;
	}

	.project {
		margin: 0rem 0;
		padding: 0 00rem;
		min-height: 500px;
		display: flex;
		justify-content: space-between;
	}
	

	.productivity {
		margin-bottom: 2rem;
	}

	.meWithsum {
		flex-direction: column-reverse;
	}

	.content-carrousel figure {
		width: 65%;
		height: 150px;
		border: 1px solid #3b444b;
		overflow: hidden;
		position: absolute;
	}

	.content-carrousel img {
		image-rendering: auto;
		transition: all 300ms;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.content-carrousel figure:nth-child(1) {
		transform: rotateY(0deg) translateZ(180px);
	}

	.content-carrousel figure:nth-child(2) {
		transform: rotateY(40deg) translateZ(180px);
	}

	.content-carrousel figure:nth-child(3) {
		transform: rotateY(80deg) translateZ(180px);
	}

	.content-carrousel figure:nth-child(4) {
		transform: rotateY(120deg) translateZ(180px);
	}

	.content-carrousel figure:nth-child(5) {
		transform: rotateY(160deg) translateZ(180px);
	}

	.content-carrousel figure:nth-child(6) {
		transform: rotateY(200deg) translateZ(180px);
	}

	.content-carrousel figure:nth-child(7) {
		transform: rotateY(240deg) translateZ(180px);
	}

	.content-carrousel figure:nth-child(8) {
		transform: rotateY(280deg) translateZ(180px);
	}

	.content-carrousel figure:nth-child(9) {
		transform: rotateY(320deg) translateZ(180px);
	}

	.content-carrousel figure:nth-child(10) {
		transform: rotateY(360deg) translateZ(180px);
	}

	.resume {
		width: 100%;
	}

	.about {
		margin: 0 1rem;
	}

	.marginFoot {
		margin-left: 1rem;
		font-size: 24px;
	}

}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}
}

@keyframes fadeAndRise {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}

	50% {
		transform: translateY(-15px);
		opacity: 1;
	}

	100% {
		transform: translateY(0);
	}
}