@font-face {
	font-family: portfolio;
	src: url(../../assets/Lato-Regular.ttf);
}

.aboutMeBtn {
	color:white !important;
    border: 1px solid white;
    margin-bottom: 10rem;
    font-size:30px;
}

.modalMe {
    position:relative;
    top:50%;
    font-family: portfolio !important;
}

.modalTitle {
    font-family: portfolioTitle !important;
    font-size:30px;
    font-weight: bold;
}